# VS Code
.vscode/**
.vscode-test/**

# Git
.gitignore

# GitHub
.github/

# Gradle
.gradle/**
build/**
*.gradle
.project
gradlew
gradlew.bat
gradle/
.settings

# Node
node_modules/

# Webpack
webpack.config.js
src/
